Debug/*
Release/*
Release*
build/*
obj/*
.*.swp
*.o
*.lo
*.la
*.a
*.m4
lib/bullet/static_lib/*
lib/*/*/Makefile*
lib/*/Makefile*
lib/bullet/built
stamp-h1
src/.libs/*
lib/bullet/*/.deps/*
lib/bullet/*/.libs/*
lib/bullet/missing
lib/bullet/libtool
lib/bullet/depcomp
lib/bullet/configure
lib/bullet/config.*
lib/bullet/compile
lib/bullet/bullet.pc
lib/bullet/autom4te.cache/*
lib/bullet/ltmain.sh
